.select {
   height: 35px;
   margin-bottom: 3px;
   background: #ffffff;
   border: 1px solid #ffffff;
   border-radius: 5px;
   /*pointer-events: none;*/
   display: flex;
   justify-content: space-between;
}
.wrapperSelect {
   margin: 7px 12px 3px;
   border-radius: 5px;
   position: relative;
}
.taskName {
   white-space: pre-wrap;
   min-height: 35px;
   max-width: 240px;
   font-size: 18px;
   line-height: 21px;
   padding: 7px 9px 7px 8px;
   background: #ffffff;
   border: 1px solid #ffffff;
   border-radius: 5px;
}
.wrapper {
   position: absolute;
   padding: 0;
   width: 258px;
   background: #ffffff;
   border: 1px solid #ffffff;
   border-radius: 5px;
}
.taskName:hover {
   background: #dedede;
   cursor: pointer;
}
.divSelect {
   height: 13px;
   background: #ffffff;
}
.arrowSelect {
   padding: 12px 9px 10px 8px;
   width: 18px;
   height: 13px;
}
