.form {
   display: flex;
   flex-direction: column;
}
.name,
.descriptions {
   background: #ffffff;
   border-radius: 5px;
   border: 1px solid #ffffff;
   align-items: center;
}
.name {
   height: 30px;
   margin: 7px 11px 4px;
}
.descriptions {
   height: 50px;
   margin: 4px 11px 7px;
}
.error {
   color: orange;
   margin: 7px 11px 4px;
}
