.main {
   display: flex;
   justify-content: center;
   position: relative;
   background: #0079bf;
   max-width: 100%;
   min-height: 100%;
}
.wrapper {
   display: inline-flex;
   justify-content: space-between;
   width: 1235px;
   margin: 0 auto;
   background: #0079bf;
}
