.menu {
   position: absolute;
   width: 134px;
   height: 60px;
   right: 15px;
   top: 56px;
   background: #ffffff;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
}
.triangle {
   position: absolute;
   width: 11px;
   height: 11px;
   transform: rotate(45deg);
   top: 50px;
   right: 55px;
   background: #ffffff;
}
.link {
   padding-left: 7px;
   padding-top: 8px;
   font-weight: 500;
   height: 22px;
   font-size: 14px;
   line-height: 16px;
   color: #000000;
   list-style: none;
}
.link:hover {
   background: #b1afaf;
   color: #ffffff;
   cursor: pointer;
}
a:link {
   text-decoration: none;
}
