* {
  font-family: "Roboto-Regular", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: normal;
}
.wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
  text-decoration: none;
  /*max-width: 1235px;*/
}
